//Buttons styles
.btn{
	&-account{
		color: $white;
		background: $success;
		border-radius: 1.5rem;
		padding: .5rem 1.5rem;
		.fa{
			margin-right: .5rem;
		}
	}
	&-white{
		color: $success !important;
		background: $white;
		border-radius: 1.5rem;
		padding: .5rem 1.5rem;
	}
}