// Layout Style
body{
	font-size: 16px;
	width: 100%;
	height: 100%;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.section{
	padding: 4rem 0;
	@include media-breakpoint-down(sm){
		padding: 2rem 0;
	}
}
.header{
	height: 130px;
	min-height: 20vh;
	@include media-breakpoint-down(sm){
		height: 100px;
		min-height: 100px;
	}
	@include media-breakpoint-down(xs){
		height: 80px;
		min-height: 80px;
	}
}
.hero{
	min-height: 80vh;
}
p{
	margin-bottom: 1rem;
	color: $cyan;
	a{
		text-decoration: underline;
	}
	&.lead{
		color: $text-color;
	}
}

.bg-purple{
	background-color: $purple;
}

.footer{
	width: 100%;
	background-color: $success;
	color: $white;
	padding: 4rem 0;
	a{
		color: $white;
	}
	@include media-breakpoint-down(sm){
		padding: 2rem 0;
	}
}